


.question {
    border: solid 1px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.question-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.question-text {
    font-family: Helvetica;
    font-size: 16px;
}

.tags {
    max-width: 150%;
    margin: 1px;
}

.dislike{
    max-width: 22px;
    rotate: 180deg;
}

.pagination{
    margin-top: 20px;
    margin-left: -20px;
}
