{% extends 'layouts/base.html' %}
{% block content %}

    <div class="row">
        <div class="col-2">
            <img src="../static/assets/img/eminem-ava.png" class="question-image">
        </div>
        <div class="col-10">
            <div class="h1">
                {{ question.title }}
            </div>
            <div>
                {{ question.content }}
            </div>
            <div class="d-flex align-items-center mt-1">

                <div class="btn-group" role="group" aria-label="Likes">
                    <div class="input-group-text rounded-end-0" id="btnGroupAddon">{{ question.likes }} likes</div>
                    <button type="button" class="btn btn-success"><img
                            src="../static/assets/img/like.png" class="icon m-0"></button>
                    <button type="button" class="btn btn-danger "><img
                            src="../static/assets/img/like.png" class="dislike"></button>
                </div>
                <div class="ps-3 fw-bold">
                    Tags:
                    <a href="">CSS</a>,
                    <a href="">Bauman</a>,
                    <a href="">offtopic</a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row p-2 border border-dark mb-3">
        <div class="col-1 p-1 text-center">
            <img src="../static/assets/img/eminem-ava.png" class="w-75 rounded-2">
        </div>
        <div class="col-11">
            <div class="">
                <p> This is a direct answer to your own question but isn't elevated to a high enough level.
                    <code>dplyr</code>
                    is truly an extendable front-end to multiple data storage mechanisms where as
                    <code>data.table</code>
                    is an extension to a single one.
                </p>
                <p>Look at <code>dplyr</code> as a back-end agnostic interface, with all of the targets
                    using the same grammer, where you can extend the targets and handlers at will.
                    <code>data.table</code>
                    is, from the <code>dplyr</code> perspective, one of those targets.
                </p>
            </div>
            <div class="d-flex align-items-center mt-1">

                <div class="btn-group me-4" role="group" aria-label="Likes">
                    <div class="input-group-text rounded-end-0" id="btnGroupAddon">+5</div>
                    <button type="button" class="btn btn-outline-success">+</button>
                    <button type="button" class="btn btn-outline-danger border-start-0">-</button>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="correct-answer">
                    <label class="form-check-label" for="same-address">Answer is correct!</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2 border border-dark mb-3">
        <div class="col-1 p-1 text-center">
            <img src="../static/assets/img/eminem-ava.png" class="w-75 rounded-2">
        </div>
        <div class="col-11">
            <div class="">
                <p> This is a direct answer to your own question but isn't elevated to a high enough level.
                    <code>dplyr</code>
                    is truly an extendable front-end to multiple data storage mechanisms where as
                    <code>data.table</code>
                    is an extension to a single one.
                </p>
                <p>Look at <code>dplyr</code> as a back-end agnostic interface, with all of the targets
                    using the same grammer, where you can extend the targets and handlers at will.
                    <code>data.table</code>
                    is, from the <code>dplyr</code> perspective, one of those targets.
                </p>
            </div>
            <div class="d-flex align-items-center mt-1">

                <div class="btn-group me-4" role="group" aria-label="Likes">
                    <div class="input-group-text rounded-end-0" id="btnGroupAddon">+3</div>
                    <button type="button" class="btn btn-outline-success">+</button>
                    <button type="button" class="btn btn-outline-danger border-start-0">-</button>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="correct-answer">
                    <label class="form-check-label" for="same-address">Answer is correct!</label>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row input-group mb-2">
                    <textarea rows="7" class="form-control border-dark" placeholder="Type your answer here"
                              aria-label="Textarea"></textarea>
    </div>
    <button type="button" class="btn btn-outline-success rounded-1">Answer!</button>

    {% include 'components/pagination.html' %}
{% endblock %}