{% load static %}

<div class="row border border-black rounded-3 p-3 pb-2 mt-3">
    <div class="col-2">
        <img src="{{ question.author.avatar.url }}" class="question-image" alt="User">
    </div>
    <div class="col-10">
        <div class="h4 link-underline-dark">
            <a href="{% url 'question' question_id=question.id %}" class="">{{ question.title }}</a>
        </div>
        <p>{{ question.content }}</p>
        <div class="d-flex flex-wrap">

            <div class="btn-group align-self-start " role="group" aria-label="Likes">
                <div class="input-group-text rounded-end-0" id="LikesQ1">
                    {% if question.likes >= 0 %}
                        {{ question.likes }}
                        likes
                    {% else %}
                        <div class="text-danger">{{ question.likes_abs }} dislikes</div>
                    {% endif %}</div>
                <button type="button" class="btn btn-success "><img
                        src="{% static 'assets/img/like.png' %}" class="icon" alt="+"></button>
                <button type="button" class="btn btn-danger "><img
                        src="{% static 'assets/img/like.png' %}" class="dislike" alt="-"></button>
            </div>
            <div class="ps-3 fw-bold">
                Tags:
                {% for tag in question.tags %}
                    <a href="{% url 'tag' tag_id=tag %}">{{ tag }}</a>{% if forloop.last is False %},{% endif %}
                {% endfor %}
            </div>
            <div class="ms-auto">
                <button type="button" class="btn btn-outline-primary float-end">Reply</button>
            </div>
        </div>
        <span>Created {{ question.creation_time }} by {{ question.author.user.username }}</span>
    </div>
</div>
